<div class="hotspot" ng-class="{expanded:expanded}" ng-init="$parent.useTable=true">
    <div class="gegraphies">
        <div id="municipality">coral gables, cocnut grove</div>
        <div id="neightborhoods">neighborhood name1, neighborhood name1,neighborhood name1, neighborhood name1</div>
    </div>
    <div style="clear:both"></div>
    <div class="rose_chart charty collapsed" data="data"  max="3" height="200" width="200" bar_width="" radius="40" text="9.9" ></div>
    
    <div class="index" ng-show="expanded"></div>
    <div style="clear:both"></div>
</div>
