<div class="hotspot" ng-class="{expanded:expanded}">
    <div class="flower_chart collapsed charty" data="data"  max="3" height="360" width="200" bar_width="" radius="40" text="9.9" ></div>
    <div class="placeholder" ng-class="{expanded:expanded}">
        <ol style="margin-top:5px; padding-top:0px; font-size:12px;">
            <li ng-repeat="d in data">{{d.key}}</li>
        </ol>
    </div>
    <div class="gegraphies">
        <div id="municipality">coral gables, cocnut grove</div>
        <div id="neightborhoods">neighborhood name1, neighborhood name1,neighborhood name1, neighborhood name1</div>
    </div>
    <div class="index" ng-show="expanded"></div>
    <div style="clear:both"></div>
</div>
